:root {
  --primarily-color: #5c715e;
  --secondary-color: #ddeedf;
  --third-color: #f2f9f1;
  --fourth-color: #b6cdbd;
  --primary-font: Didot;
  --secondary-font: Helvetica, sans-serif;
}

.contactbackground {
  background-color: var(--third-color);
}

h1 {
  text-align: center;
  font-family: Didot;
  font-weight: 500;
  font-size: 120px;
  color: var(--primarily-color);
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  color: var(--primarily-color);
}

.form-group {
  font-family: var(--secondary-front);
  font-size: 14;
}

button {
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px 30px;
  width: 100px;
  border: 1px solid var(--primarily-color);
}

.button-container button {
  text-decoration: none;
  color: white;
  background-color: #5c715e;
  font-size: 12px;
  text-transform: uppercase;

  font-family: var(--secondary-front);
  cursor: grab;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

button:hover {
  background-color: #b6cdbd;
  opacity: 0.5;
  color: var(--primariy-color);
}
