:root {
  --primarily-color: #5c715e;
  --secondary-color: #ddeedf;
  --primary-font: Didot;
  --secondary-front: Helvetica, sans-serif;
}

.indexseite {
  background-color: #ddeedf;
}

.container {
  padding-top: 300px;
  padding-right: 50px;
  padding-left: 50px;
}

h1 {
  text-align: center;
  font-family: Didot;
  font-weight: 500;
  font-size: 120px;
  color: var(--primarily-color);
}

h2 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  color: var(--primarily-color);
}

.intro {
  display: block;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: var(--primarily-color);
}

button {
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: none;
}

.button-container button {
  text-decoration: none;
  color: white;
  background-color: #5c715e;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  font-family: var(--secondary-front);
  cursor: grab;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

button:hover {
  background-color: #b6cdbd;
  opacity: 0.5;
  color: var(--primariy-color);
}

.container {
  justify-content: center;
  margin: auto;
  max-width: 100%;
}
