:root {
  --primarily-color: #5c715e;
  --secondary-color: #ddeedf;
  --third-color: #f2f9f1;
  --fourth-color: #b6cdbd;
  --primary-font: Didot;
  --secondary-font: Helvetica, sans-serif;
}

.workbackground {
  background-color: var(--fourth-color);
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px 30px;
  margin-top: 15px;
}

h1,
h2,
h3,
p {
  font-family: var(--primary-font);
  color: var(--primarily-color);
}

h2,
h3,
p {
  font-family: var(--secondary-font);
}

.button-container {
  display: flex;
  margin-top: 50px;
}

.button-container button {
  display: flex;
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--primarily-color);
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  font-family: var(--secondary-font);
  cursor: grab;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}
.footer {
  width: 100%;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  text-align: center;
}

footer .p {
  margin: 0;
}
